@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1 class="display-4">Welcome</h1>
    <form method="post">

    Nazwisko:<br> <input type="text" id="nazwisko" name="nazwisko"><br>
    Imie: <br><input type="text" id="imie" name="imie"><br>
    Wiek: <br><input type="number" id="wiek" name="wiek" value="18"><br>

    <fieldset>
        Płeć

        <div>
            <input type="radio" id="men" name="plec" value="men">
            <label for="men">Men</label>
        </div>

        <div>
            <input type="radio" id="women" name="plec" value="women">
            <label for="dewey">Women</label>
        </div>
    </fieldset>
        <br>
    Telefon:<br> 
    <input type="number" id="telefon" name="telefon" maxlength="9"><br><br>

    Języki programowania:<br>



        <div>
        <input type="checkbox"  value="C#" name="jezyk">
            <label>C#</label>
        </div>

        <div>
        <input type="checkbox" value="C++" name="jezyk">
            <label>C++</label>
        </div>

        <div>
        <input type="checkbox" value="Python" name="jezyk">
        <label>Python</label>
        </div>

        <div>
        <input type="checkbox" value="JAVA" name="jezyk">
            <label>JAVA</label>
        </div>

        <div>
        <input type="checkbox" value="Angular" name="jezyk">
            <label>Angular</label>
        </div>
    <br><br>
        <input type="submit" value="Submit">
    </form>


