@page
@model xxx.Pages.tooYoungModel
@{
}

<div class="text-center">
    <h1 class="text-danger">You are too young</h1>
    <h2 class="text-danger">Thank you for the data entered and the company will contact you in the future.</h2>
</div>